# ===== Java / Maven =====
target/
*.class

# ===== IDE =====
.idea/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Configuration / Secrets =====
application.yaml
.env

# ===== Docker volumes (local data) =====
**/*_data/
